.ssh
ansible-navigator.log
ansible-navigator.yml
*-artifact-*
*/roles/*/*
collections/ansible_collections/community*
collections/ansible_collections/ansible*
./mail/collections/ansible_collections/community*
./mail/collections/ansible_collections/ansible*
